
<main class="section-main">

    <div class="slider">
      <div class="conten">
        <div class="about">
          <h1>About</h1>
        </div>
        <div class="ngang1"></div>
        <div class="Home">
          <p>Home  <i class="bi bi-chevron-double-right"></i> About</p>
        </div>
      </div>
    </div>
</main>

<section class="About-Aquavist">
  <div class="container">
    <div class="row">
      <div class="col-9 card-e9">

        <h5>About Aquavist</h5>
        <div class="ngang"></div>
        <div class="We-Are">
          <h1 class="beautiful">We Are Ready To Pamper You <br>
            With A More Beautiful Aquarium</h1>
          <p class="Lorem-ipsum">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore <br>
            et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut<br>
            aliquip dolore magna aliqua enim ad minim veniam, quis nostrud.</p>
        </div>
        <div class="dat">


          <div class="row">
            <div class="col-6">
              <div class="video">
                <img src="assets/images/imperial-anglefish-closeup-in-saltwater-aquarium-e1628655205910.jpg"alt="">
              </div>
            </div>


            <div class="col-6">
              <div class="Tempo">
                <p>Tempor lorem ipsum dolor sit amet consec<br>
                  tetur adip iscing elit, sed do eiusmod tempor<br>
                  incididuntut labore et dolore magna.</p>
                <div class="check-lg">
                  <ul>
                    <li>
                      <i class="bi bi-check-lg"></i>
                      <span>Photos with Animals</span>
                    </li>
                    <li>
                      <i class="bi bi-check-lg"></i>
                      <span>Restaurants & Fast Foods</span>
                    </li>
                    <li>
                      <i class="bi bi-check-lg"></i>
                      <span>Free Wi-Fi with Hi Speed</span>
                    </li>
                    <li>
                      <i class="bi bi-check-lg"></i>
                      <span>Many Competitions</span>
                    </li>
                    <li>
                      <i class="bi bi-check-lg"></i>
                      <span>Luxury Aquarium</span>
                    </li>
                  </ul>
                </div>
                <div class="read-more ">
                  <button type="submit" >Read More</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-3">
        <div class="images">
          <img src="assets/images/reaching-the-ocean-e1628655217455.jpg" alt="">
        </div>
        <div class="quetes">
          <h5 class="lorem">“Quotes Lorem ipsum dolor sit
            amet, consectetur adipiscing elit.
            Ut eli tellus.”</h5>

          <div class="Teddy-Saunders">
            <h5>Teddy Saunders</h5>
            <h6 class="ceo">CEO & Founde </h6>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>



<section class="section-e3">
  <div class="container">
    <div class="row">
      <div class="col-8">
        <div class="row">
          <div class="col-6 card-e3">
            <div class="row">
              <div class="col-2">
                <div class="icon">
                  <i class="bi bi-cloudy-fill"></i>
                </div>
              </div>
              <div class="col-10">
                <div class="Design-Install">
                  <h4>Design-Install</h4>
                  <p>Lorem ipsum dolor sit sedar consect adipiscing el sed do eiusmod.</p>
                  <a href="#">Read More</a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-6 card-e3">
            <div class="row">
              <div class="col-2">
                <div class="icon">
                  <i class="bi bi-cloudy-fill"></i>
                </div>
              </div>
              <div class="col-10">
                <div class="Design-Install">
                  <h4>Health Check</h4>
                  <p>Lorem ipsum dolor sit sedar consect adipiscing el sed do eiusmod.</p>
                  <a href="#">Read More</a>
                </div>
              </div>
            </div>

          </div>
          <div class="col-6 card-e3">
            <div class="row">
              <div class="col-2">
                <div class="icon">
                  <i class="bi bi-cloudy-fill"></i>
                </div>
              </div>
              <div class="col-10">
                <div class="Design-Install">
                  <h4>Planted Tank</h4>
                  <p>Lorem ipsum dolor sit sedar consect adipiscing el sed do eiusmod.</p>
                  <a href="#">Read More</a>
                </div>
              </div>
            </div>

          </div>
          <div class="col-6 card-e3">
            <div class="row">
              <div class="col-2">
                <div class="icon">
                  <i class="bi bi-cloudy-fill"></i>
                </div>
              </div>
              <div class="col-10">
                <div class="Design-Install">
                  <h4>Maintenance</h4>
                  <p>Lorem ipsum dolor sit sedar consect adipiscing el sed do eiusmod.</p>
                  <a href="#">Read More</a>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="our-Services">
          <h5>Our Services</h5>
          <div class="ngang-one"></div>
          <h1>We Provide Special Sevices</h1>
          <h6>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam tempor aliqua.</h6>


        </div>

      </div>

    </div>
  </div>
</section>
<section class="section-e4">
  <div class="over-lay"></div>
  <div class="container">
    <div class="Aquavist-Experiences">
      <h5>Aquavist Experiences</h5>
      <div class="ngang-true"></div>
      <h1>Our Skills & Experience</h1>
      <div class="row">
        <div class="col-6">
          <div class="Completed-Project">
            <div class="dung">
              <div><h6>Completed Project </h6></div>
              <div><p>99%</p></div>
            </div>
            <div class="dat1"></div>
          </div>
        </div>
        <div class="col-6">
          <div class="Completed-Project">
            <div class="dung">
              <div> <h6> Consultation</h6></div>
              <div><p>85%</p></div>
            </div>
            <div class="dat2"></div>
          </div>
        </div>
        <div class="col-6">
          <div class="Completed-Project">
            <div class="dung">
              <div> <h6> Design & Installation</h6></div>
              <div><p>92%</p></div>
            </div>
            <div class="dat3"></div>
          </div>
        </div>
        <div class="col-6">
          <div class="Completed-Project">
            <div class="dung">
              <div> <h6> Aquarium Supply</h6></div>
              <div><p>95%</p></div>
            </div>
            <div class="dat4"></div>
          </div>
        </div>
        <div class="col-6">
          <div class="Completed-Project">
            <div class="dung">
              <div> <h6> Health Services</h6></div>
              <div><p>89%</p></div>
            </div>
            <div class="dat5"></div>
          </div>
        </div>
        <div class="col-6">
          <div class="Completed-Project">
            <div class="dung">
              <div> <h6> Professional Team</h6></div>
              <div><p>80%</p></div>
            </div>
            <div class="dat6"></div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="section-e5">
    <div class="container">
      <div class="row">
        <div class="col-4 card-e4">
          <div class="Sips-Unde">
            <h4>  Sips Under The Sea</h4>
            <h6>Sept 14, 2016</h6>
            <div class="the-sea">
              <h6>Lorem ipsum dolor sit amet, consecte adipiscing elit, sed do eiusmod tempo incididunt ut labore ut labore et dolore tempo....</h6>
            </div>
            <div class="read-more-true">
              <h6>Read More</h6>
            </div>
          </div>
        </div>
        <div class="col-4">
          <div class="Aqua-Vino">
            <h4>Aqua Vino</h4>
            <h6 class="Oct"> 19 Oct, 2019</h6>
            <div class="the-sea-one">
              <h6>Lorem ipsum dolor sit amet, consecte adipiscing elit, sed do eiusmod tempo incididunt ut labore ut labore et dolore tempo....</h6>
            </div>
            <div class="read-more-thuer">
              <h6>Read More</h6>
            </div>
          </div>
        </div>
        <div class="col-4 card-e4">
          <div class="Sips-Unde">
            <h4>  Sips Under The Sea</h4>
            <h6 class="Sept">Sept 14, 2016</h6>
            <div class="the-sea">
              <h6>Lorem ipsum dolor sit amet, consecte adipiscing elit, sed do eiusmod tempo incididunt ut labore ut labore et dolore tempo....</h6>
            </div>
            <div class="read-more-true">
              <h6>Read More</h6>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<section class="section-e6">
  <div class="container">
    <div class="row">
      <div class="col-4">
        <div class="Pricing-Plan">
          <h6>Pricing & Plan</h6>
          <div class="ngang"></div>
          <h1>Our Pricing</h1>
          <h6 class="Pricing">Lorem ipsum dolor sit amet consec tetuer adipiscing elit. Aenean com modo ligula eget dolor. Aenean massa Cumocis natoque pena tibus et magnis dis parturient montes nascetur ridiculus parturient montes.</h6>
          <div class="all">
            <button type="submit">All Pricing</button>

          </div>
        </div>
      </div>
      <div class="col-8">
        <div class="row">
          <div class="col-6">
            <div class="family">
              <h4>Family</h4>
              <div class="visit">
                <h1>$60</h1>
                <p>/visit</p>
              </div>
              <div class="purchase-now">
                <button type="submit">Purchase Now</button>
              </div>
              <div class="lein"></div>
              <div class="Chevron-double-right">
                <ul>
                  <li>
                    <i class="bi bi-chevron-double-right"></i>
                    <span></span>4 Family Members
                  </li>
                  <li>
                    <i class="bi bi-chevron-double-right"></i>
                    <span>Photos With Fishes</span>
                  </li>
                  <li>
                    <i class="bi bi-chevron-double-right"></i>
                    <span>Free Wi-Fi</span>
                  </li>
                  <li>
                    <i class="bi bi-chevron-double-right"></i>
                    <span>Access Luxury Aquarium</span>
                  </li>
                  <li>
                    <i class="bi bi-chevron-double-right"></i>
                    <span>Insurance Goods</span>
                  </li>
                </ul>
              </div>
              <p class="p">* Including tax & aquavist insurance.</p>
            </div>
          </div>
          <div class="col-6 ">
            <div class="family-one">
              <h4>Family</h4>
              <div class="visit-one">
                <h1>$20</h1>
                <p>/visit</p>
              </div>
              <div class="purchase-now-one">
                <button type="submit">Purchase Now</button>
              </div>
              <div class="lein"></div>
              <div class="Chevron-double-right-one">
                <ul>
                  <li>
                    <i class="bi bi-chevron-double-right"></i>
                    <span></span>4 Family Members
                  </li>
                  <li>
                    <i class="bi bi-chevron-double-right"></i>
                    <span>Photos With Fishes</span>
                  </li>
                  <li>
                    <i class="bi bi-chevron-double-right"></i>
                    <span>Free Wi-Fi</span>
                  </li>
                  <li>
                    <i class="bi bi-chevron-double-right"></i>
                    <span>Access Luxury Aquarium</span>
                  </li>
                  <li>
                    <i class="bi bi-chevron-double-right"></i>
                    <span>Insurance Goods</span>
                  </li>
                </ul>
              </div>
              <p class="p-one">* Including tax & aquavist insurance.</p>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>



<section class="section-e7">
  <div class="row">
    <div class="col-5">
      <div class="main-event">
        <div class="over-lay-one"></div>
        <h5>Main Event</h5>
        <div class="ngang"></div>
        <h1>Floral Coral</h1>
        <div class="Floral-Coral">
          <h6>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus nec ullamcorper mattis, pulvinar dapibus.</h6>
          <h6>Duis placerat urna in ex pulvinar aliquet. Duis tincidunt augue lorem, non suscipit nulla vehicula et. Donec facilisis ultricies porta. Phasellus tortor libero, finibus sit amet ornare eleifend, vehicula quis turpis. Cras id auctor tellus. Vivamus at turpis purus</h6>
          <h6>Sed ac ex efficitur, malesuada diam sed, semper dui. Vivamus pulvinar, ex tincidunt tincidunt fermentum, elit odio laoreet tellus, sit amet consequat mi elit eu arcu. Nunc efficitur ligula at nunc lacinia, et aliquet enim cursus. Suspendisse potenti. Ut viverra aliquet dui, eget viverra.</h6>
        </div>
        <h4>17 August 2021</h4>
        <p>Independence Event</p>
        <div class="book-now">
          <button type="submit">Book Now</button>
        </div>
      </div>
    </div>
    <div class="col-7">
      <div class="Aquavist-Events">
        <h5>Aquavist Events</h5>
        <div class="ngang"></div>
        <h1>Upcoming Events At Aquavist Aquarium</h1>
        <div class="row">
          <div class="col-4">
            <div class="img-thur">
              <img src="../../assets/images/aquarium-tank-1-e1628655247905.jpg">
            </div>

          </div>
          <div class="col-8 card-e5">
            <div class="row ">
              <div class="col-6">
                <div class="Pacific-Ocean">
                  <h5>Pacific Ocean</h5>
                  <h6>29 Aug, 2021</h6>
                  <h5 >$32/Ticket</h5>
                </div>
              </div>
              <div class="col-6">
                <div class="sold-out">
                  <button type="submit">Sold Out</button>
                </div>
              </div>

            </div>
          </div>
        </div>
        <div class="row card-e6">
          <div class="col-4">
            <div class="img-thur">
              <img src="../../assets/images/neon-organisms-in-lyon-aquarium-underwater-photo-e1628655259598.jpg">
            </div>
          </div>
          <div class="col-8">
            <div class="row card-e7">
              <div class="col-6">
                <div class="Pacific-Ocean">
                  <h5>Pacific Ocean</h5>
                  <h6>29 Aug, 2021</h6>
                  <h5 >$32/Ticket</h5>
                </div>
              </div>
              <div class="col-6">
                <div class="sold-out-one">
                  <button type="submit">Sold Out</button>
                </div>
              </div>

            </div>

          </div>
        </div>
        <div class="row card-e8">
          <div class="col-4">
            <div class="img-thur">
              <img src="../../assets/images/pomacanthus-navarchus-blue-angel-sea-fish-in-aquarium-1-e1628655272345.jpg">
            </div>
          </div>
          <div class="col-8 card-e7">
            <div class="row ">
              <div class="col-6">
                <div class="Pacific-Ocean">
                  <h5>Pacific Ocean</h5>
                  <h6>29 Aug, 2021</h6>
                  <h5 >$32/Ticket</h5>
                </div>
              </div>
              <div class="col-6">
                <div class="sold-out-one">
                  <button type="submit">Sold Out</button>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>

    </div>








  </div>
</section>


<section class="section-e8">
  <div class="container">
    <div class="row">
      <div class="col-6">
        <div class="Client-Inquries">
          <h6>Client Inquries</h6>
          <div class="ngang"></div>
          <h1>Related Questions</h1>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eius tempor incididunt ut labore et dolore magna aliqua.</p>
          <div class="opening">
            <ul>
              <li>
                <div class="title">
                  <i class="bi bi-plus-lg"></i>
                  <a >What are your opening hours?</a>
                </div>
              </li>
              <li>
                <div class="title">
                  <i class="bi bi-plus-lg"></i>
                  <a>Can I purchase ticket online?</a>
                </div>
              </li>
              <li>
                <div class="title">
                  <i class="bi bi-plus-lg"></i>
                  <a >Why do price in shop sometimes change?</a>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-6">
        <div class="images-true">

        </div>
      </div>
    </div>
  </div>
</section>



