<section class="section-e1">
  <div class="Gallery">
    <div class="home">
      <h1>Gallery</h1>
      <div class="ngang"></div>
      <h6>Home <i class="bi bi-chevron-double-right"></i>  Gallery</h6>
      <div class="title">
      </div>
    </div>
  </div>
</section>
<section class="section-e2">
  <div class="row">
    <div class="col-6 ">
      <div class="Nature-Aquarium">
        <h6>Nature Aquarium</h6>
        <div class="ngang"></div>
        <h1>Aqunawa Naturium</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi </p>

        <p>Donec feugiat lectus mi, nec scelerisque massa viverra ac. Vivamus vestibulum ornare imperdiet. Nam et sagitti. </p>
        <div class="Gianyar">
          <h4>$42/Visit</h4>
          <p>Gianyar, Bali</p>
        </div>
        <div class="read-more">
          <button type="submit">Read More</button>
        </div>
      </div>
    </div>


    <div class="col-6 ">
      <div class="img1">
        <img src="../../assets/images/atlantis-jelly-fish-e1628655408645.jpg">
      </div>
    </div>


    <div class="col-6 ">
      <div class="img1">
        <img src="../../assets/images/clown-fish-swimming-in-the-corals--e1628655422141.jpg"style="height: 578.7px;">
      </div>
    </div>


    <div class="col-6 ">
      <div class="Nature-Aquarium">
        <h6>Exscape Aquarium</h6>
        <div class="ngang"></div>
        <h1>Marine Under Sea</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi </p>

        <p>Donec feugiat lectus mi, nec scelerisque massa viverra ac. Vivamus vestibulum ornare imperdiet. Nam et sagitti. </p>
        <div class="Gianyar">
          <h4>$31/Visit</h4>
          <p>Badung, Bali</p>
        </div>
        <div class="read-more">
          <button type="submit">Read More</button>
        </div>
      </div>
    </div>
    <div class="col-6">
      <div class="Nature-Aquarium">
        <h6>Yibi Aquarium</h6>
        <div class="ngang"></div>
        <h1>Two Oceanarium</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi </p>

        <p>Donec feugiat lectus mi, nec scelerisque massa viverra ac. Vivamus vestibulum ornare imperdiet. Nam et sagitti. </p>
        <div class="Gianyar">
          <h4>$22/Visit</h4>
          <p>Denpasar, Bali</p>
        </div>
        <div class="read-more">
          <button type="submit">Read More</button>
        </div>
      </div>

    </div>
    <div class="col-6">
      <div class="img1">
        <img src="../../assets/images/dat1.jpg"style="height: 578.7px">
      </div>
    </div>
  </div>
</section>
<section class="section-e3">
  <div class="row">
  </div>
</section>


<section class="section-e4">
  <div class="container">
    <div class="Testimonial">
      <h5>Testimonial</h5>
      <div class="ngang-one"></div>
      <h1>Some Quotes From Our Clients</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut <br>
        labore et dolore magna aliqua. Ut enim ad minim veniam dolore aliqua.</p>
    </div>
    <div class="row">
      <div class="col-3">
        <img src="../../assets/images/dat2.jpg">
      </div>
      <div class="col-3">
        <div class="Rita-Eland">
          <h5>“Lorem ipsum dolor sit amet, consectetur adip iscing elit. sed do eius mod tempor incididunt labore magna.” </h5>
          <h6>Rita Eland</h6>
        </div>
      </div>
      <div class="col-3">
        <img src="../../assets/images/dat3.jpg">
      </div>
      <div class="col-3">
        <div class="Rita-Eland">
          <h5>“Lorem ipsum dolor sit amet, consectetur adip iscing elit. sed do eius mod tempor incididunt labore magna.” </h5>
          <h6>Rita Eland</h6>
        </div>
      </div>
      <div class="col-3">
        <div class="Rita-Eland">
          <h5>“Lorem ipsum dolor sit amet, consectetur adip iscing elit. sed do eius mod tempor incididunt labore magna.” </h5>
          <h6>Rita Eland</h6>
        </div>
      </div>
      <div class="col-3">
        <img src="../../assets/images/dat4.jpg">
      </div>
      <div class="col-3">
        <div class="Rita-Eland">
          <h5>“Lorem ipsum dolor sit amet, consectetur adip iscing elit. sed do eius mod tempor incididunt labore magna.” </h5>
          <h6>Rita Eland</h6>
        </div>
      </div>
      <div class="col-3">
        <img src="../../assets/images/dat5.jpg">
      </div>
      <div class="col-3">
        <img src="../../assets/images/dat6.jpg"style="height: 330px">
      </div>
      <div class="col-3">
        <div class="Rita-Eland">
          <h5>“Lorem ipsum dolor sit amet, consectetur adip iscing elit. sed do eius mod tempor incididunt labore magna.” </h5>
          <h6>Rita Eland</h6>
        </div>
      </div>
      <div class="col-3">
        <img src="../../assets/images/dat7.jpg"style="height: 330px">
      </div>
      <div class="col-3">
        <div class="Rita-Eland">
          <h5>“Lorem ipsum dolor sit amet, consectetur adip iscing elit. sed do eius mod tempor incididunt labore magna.” </h5>
          <h6>Rita Eland</h6>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section">
  <div class="container">
    <div class="dat-img">
      <div class="row">
        <div class="col-6">
        </div>
        <div class="col-6">
          <div class="sider">
            <div id="carouselExample" class="carousel slide">
              <div class="carousel-inner">
                <div class="carousel-item-active">
                  <ul>
                    <li>
                      <p>Lorem ipsum Quibusdam eveniet ut eos rerum incididunt eu aperiam voluptatem ut non provident dolor dolorum ut et quod voluptatibus quas tempor reiciendis veniam provident hic veritatis exercitation placeat reiciendis veniam provident veritati</p>
                    </li>
                    <li class="sao1">
                      <i class="bi bi-star-fill"></i>
                      <i class="bi bi-star-fill"></i>
                      <i class="bi bi-star-fill"></i>
                      <i class="bi bi-star-fill"></i>
                      <i class="bi bi-star-fill"></i>
                    </li>
                    <li>
                      <div class="row ">
                        <div class="col-3">
                          <div class="img5">
                            <img src="../../assets/images/dat9.jpg">
                          </div>
                        </div>
                        <div class="col-9">
                          <div class="name">
                            <h5>Lola Bailey</h5>
                            <p>Visitors</p>
                          </div>
                        </div>
                      </div>
                    </li>
                  </ul>

                </div>
                <div class="carousel-item">
                  <ul>
                    <li>
                      <p>Lorem ipsum Quibusdam eveniet ut eos rerum incididunt eu aperiam voluptatem ut non provident dolor dolorum ut et quod voluptatibus quas tempor reiciendis veniam provident hic veritatis exercitation placeat reiciendis veniam provident veritati</p>
                    </li>
                    <li class="sao">
                      <i class="bi bi-star-fill"></i>
                      <i class="bi bi-star-fill"></i>
                      <i class="bi bi-star-fill"></i>
                      <i class="bi bi-star-fill"></i>
                      <i class="bi bi-star-fill"></i>
                    </li>
                    <li>
                      <div class="row">
                        <div class="col-3">
                          <img src="../../assets/images/dat10.jpg">
                        </div>
                        <div class="col-9">
                          <ul>
                            <li><h5>dat</h5></li>
                            <li><p>dung</p></li>
                          </ul>
                        </div>
                      </div>
                    </li>
                  </ul>

                </div>
                <div class="carousel-item">
                  <ul>
                    <li>
                      <p>Lorem ipsum Quibusdam eveniet ut eos rerum incididunt eu aperiam voluptatem ut non provident dolor dolorum ut et quod voluptatibus quas tempor reiciendis veniam provident hic veritatis exercitation placeat reiciendis veniam provident veritati</p>
                    </li>
                    <li class="dat1">
                      <i class="bi bi-star-fill"></i>
                      <i class="bi bi-star-fill"></i>
                      <i class="bi bi-star-fill"></i>
                      <i class="bi bi-star-fill"></i>
                      <i class="bi bi-star-fill"></i>
                    </li>
                    <li>
                      <div class="row">
                        <div class="col-3">
                          <img src="../../assets/images/dat9.jpg">
                        </div>
                        <div class="col-9">
                          <ul>
                            <li><h5>dat</h5></li>
                            <li><p>dung</p></li>
                          </ul>
                        </div>
                      </div>
                    </li>
                  </ul>

                </div>
              </div>
              <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
              </button>
            </div>

          </div>
        </div>
      </div>

    </div>

  </div>

</section>

