<section class="section post">
  <div class=" container">
    <div class=" single">
      <h1>Different Aquariums For Different Ideas</h1>
      <div class="line"></div>
      <a>
        <ul class="nav">
          <li> <i class="bi bi-person"></i> John Doe</li>
          <li><i class="bi bi-clock"></i>August 7, 2021</li>
        </ul>
      </a>
    </div>
  </div>
</section>
<section class="section post-e2">
  <div class="container-e2">
    <div class="images1">
      <img src="assets/images/colorful-fish-from-the-spieces-symphysodon-discus-in-aquarium--e1628655050154.jpg">
    </div>
    <div>
      <h1>For She’s S Jolly Fish Good Fellow Berlin Aquarium</h1>
      <p>Proin ullamcorper pretium orci. Donec nec scelerisque leo. Nam massa dolor, imperdiet nec consequat a, congue id sem. Maecenas malesuada faucibus finibus. Donec vitae libero porttitor, laoreet sapien a, ultrices leo. Duis dictum vestibulum ante vitae ullamcorper. Phasellus ullamcorper, odio vitae eleifend ultricies, lectus orci congue magna, in egestas nulla libero non nisl. Etiam efficitur in arcu ut lacinia.

        Donec scelerisque enim non dictum aliquet. Sed ec nunc. Suspendisse volutpat elit nec nisi congue tristique eu at velit. Curabitur pharetra ex non ullamcorper condimentum. Morbi sit amet dui convallis, mattis augue id, ullamcorper massa. Fusce vulputate sodales hendrerit.</p>
    </div>
    <div class="row">
      <div class="col-6">
        <img src="assets/images/orange-fishes-float-in-an-aquarium-the-concept-of-the-water-wor-e1628655624633.jpg"></div>
      <div class="col-6">
        <h6>We Offer Everything About Aquarium</h6>
        <ul class="nav1">
          <li>
            <i class="bi bi-chevron-double-right"></i><span>Programs In Aquaculture</span></li>
          <li> <i class="bi bi-chevron-double-right"></i><span>Orchid Dottyback</span></li>
          <li> <i class="bi bi-chevron-double-right"></i><span>Assessor & Several Other</span></li>
          <li><i class="bi bi-chevron-double-right"></i><span>Aquarium Information</span></li>
          <li><i class="bi bi-chevron-double-right"></i><span>Aquarium Information</span>
          </li>
        </ul>
      </div>
    </div>
    <div class="text">
      <p>Proin ullamcorper pretium orci. Donec nec scelerisque leo. Nam massa dolor, imperdiet nec consequat a, congue id sem. Maecenas malesuada faucibus finibus. Donec vitae libero porttitor, laoreet sapien a, ultrices leo. Duis dictum vestibulum ante vitae ullamcorper. Phasellus ullamcorper, odio vitae eleifend ultricies, lectus orci congue magna, in egestas nulla libero non nisl. Etiam efficitur in arcu ut lacinia.</p>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec a feugiat purus. Duis turpis nunc, aliquam id nunc ac, convallis dictum nisi. Curabitur vehicula tincidunt sapien, vel c ac. Donec diam augue, consequat sit amet metus ac, bibendum mattis massa. Duis mollis, ligula pretium consequat aliquet, nibh purus fermentum mi, bibendum molestie libero enim in sapien. Curabitur vestibulum sit amet nibh sed blandit bibendum molestie libero enim in sapien.
      </p>
    </div>
    <div class="row">
      <div class="col-6">
        <h3>tags: Advice</h3>
      </div>
      <div class="col-6">
        <h3>Share This: <i class="bi bi-facebook"></i><i class="bi bi-instagram"></i><i class="bi bi-telephone"></i><i class="bi bi-telegram"></i></h3>
      </div>
    </div>
  </div>
</section>
<section class="post-e3">
  <div class="container-e3">
    <div class="back">
      <h1>Leave a Reply</h1>
      <p>Your email address will not be published. Required fields are marked </p>
      <div class="back">
        <p>Comment</p>
        <textarea rows="10 " cols="80" name="description" placeholder=""></textarea>
        <p>Name</p>
        <input name="fullname" type="text" placeholder="" required/>
        <p> Email</p>
        <input name="email" type="email" placeholder="" required/>
        <p>website</p>
        <input name="name "type="text" placeholder="" required/>
        <label><input name="multi" type="checkbox" value="m1" />Save my name, email, and website in this browser for the next time I comment.</label>
      </div>
      <div class="backer">
        <span>post comment</span>
      </div>
    </div>
  </div>
</section>
<div class="liner"><div class="line"></div></div>
<section class="post-e4">
  <div class="container">
    div.
  </div>
</section>
