<section class="section event">
  <div class=" container">
    <div class=" head">
      <h1>Event</h1>
      <div class="line"></div>
      <a> Home</a><i class="bi bi-chevron-double-right"></i><a> Event</a>
    </div>
  </div>
</section>

<section class="section event-e2">
  <div class="container">
    <div class="event-body">
      <p> Our Event</p>
      <div class="line"></div>
      <h1>Come For Very Interesting Events</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam dolore aliqua.</p>
    </div>
  </div>
</section>

<section class="section event-e3">
  <div class="container">
    <div class="row">
      <div class="col-4 ">
        <div class="content img7">
          <div>
            <span> 21 Aug</span>
          </div>
          <div >
            <h3>
              Adventure Aquarium</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipiscing elit. Doneca feugiat purusuis.
            </p>
          </div>

        </div>
      </div>
      <div class="col-4 ">
        <div class="content img8">
          <div>
            <span>31 Aug</span>
          </div>
          <div>
            <h3>
              Christmas Under Sea</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipiscing elit. Doneca feugiat purusuis.</p>
          </div>

        </div>
      </div>
      <div class="col-4 ">
        <div class="content img9">
          <div>
            <span> 15 Sept</span>
          </div>
          <div>
            <h3>
              Summer Shark</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipiscing elit. Doneca feugiat purusuis.</p>
          </div>

        </div>
      </div>
    </div>
  </div>
</section>
<section class="section event-e4">
  <div class="container">
    <div class="row">
      <div class="col-4 ">
        <div class="content img10">
          <div>
            <span>29 Oct</span>
          </div>
          <div>
            <h3>
              Mystic Aquarium
            </h3>
            <p>Lorem ipsum dolor sit amet consectetur adipiscing elit. Doneca feugiat purusuis.</p>
          </div>

        </div>
      </div>
      <div class="col-4 ">
        <div class="content img11">
          <div>
            <span>31 Oct</span>
          </div>
          <div>
            <h3>
              Sheed Winter</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipiscing elit. Doneca feugiat purusuis.</p>
          </div>
        </div>
      </div>
      <div class="col-4 ">
        <div class="content img12">
          <div>
            <span> 01 Dec</span>
          </div>
          <div>
            <h3>
              Mermaid Show</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipiscing elit. Doneca feugiat purusuis.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="section event-e5">
  <div class="container">
    <div class="row">
      <div class="col-2">
        <img src="assets/images/asset1-T6M9WU6.png">
        <h5>Pike Fish</h5>
      </div>
      <div class="col-2">
        <img src="assets/images/asset2-T6M9WU6.png">
        <h5>Marline Fish</h5>
      </div>
      <div class="col-2">
        <img src="assets/images/asset3-T6M9WU6.png">
        <h5>Boar Fish</h5>
      </div>
      <div class="col-2">
        <img src="assets/images/asset4-T6M9WU6.png">
        <h5>Seahorse</h5>
      </div>
      <div class="col-2">
        <img src="assets/images/asset5-T6M9WU6.png">
        <h5>Hog Fish</h5>
      </div>
      <div class="col-2">
        <img src="assets/images/asset6-T6M9WU6.png">
        <h5>Threadfin</h5>
      </div>
      <div class="col-2">
        <img src="assets/images/asset7-T6M9WU6.png">
        <h5>Clown Fish</h5>
      </div>
      <div class="col-2">
        <img src="assets/images/asset8-T6M9WU6.png">
        <h5>Sword Fish</h5>
      </div>
      <div class="col-2">
        <img src="assets/images/asset9-T6M9WU6.png">
        <h5>Molidae</h5>
      </div>
      <div class="col-2">
        <img src="assets/images/asset10-T6M9WU6.png">
        <h5>Blow Fish</h5>
      </div>
      <div class="col-2">
        <img src="assets/images/asset11-T6M9WU6.png">
        <h5>Coral</h5>
      </div>
      <div class="col-2">
        <img src="assets/images/asset12-T6M9WU6.png">
        <h5>Angler Fish</h5>
      </div>
    </div>
  </div>
</section>
<section class="section event-e6">
  <div class="container-fluid">
    <div class="row">
      <div class="col-5">
        <div class="content img13">
          <h1>Main Event</h1>
          <div class="line"></div>
          <h1>Flora coral</h1>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus nec ullamcorper mattis, pulvinar dapibus.</p>
          <p>Duis placerat urna in ex pulvinar aliquet. Duis tincidunt augue lorem, non suscipit nulla vehicula et. Donec facilisis ultricies porta. Phasellus tortor libero, finibus sit amet ornare eleifend, vehicula quis turpis. Cras id auctor tellus. Vivamus at turpis purus.</p>
          <p>Sed ac ex efficitur, malesuada diam sed, semper dui. Vivamus pulvinar, ex tincidunt tincidunt fermentum, elit odio laoreet tellus, sit amet consequat mi elit eu arcu. Nunc efficitur ligula at nunc lacinia, et aliquet enim cursus. Suspendisse potenti. Ut viverra aliquet dui, eget viverra.</p>
          <h2> 17 August 2021</h2>
          <a> Independence </a>
          <div class="backer">
            <span> Book Now</span>
        </div>
        </div>
      </div>
      <div class="col-7">
        <div class="event-body1">
          <p> Aquavist Event</p>
          <div class="line"></div>
          <h1>Upcoming Events At Aquavist Aquarium</h1>
        </div>
        <div class="event-body2">
          <div class="row">
            <div class="col-4">
              <div>
                <img src="assets/images/aquarium-tank-1-e1628655247905.jpg">
              </div>
            </div>
            <div class="col-4">
              <h2> Pacific Ocean</h2>
              <p> 29 Aug, 2021</p>
              <h2>$32/Tichket</h2>
            </div>
            <div class="col-4">
              <div class="book">
             <div class="backer">
               <span> Book Now</span>
             </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-4">
              <img src="assets/images/neon-organisms-in-lyon-aquarium-underwater-photo-e1628655259598.jpg">
            </div>
            <div class="col-4">
              <h2>Fun Aquarium</h2>
              <p>26 sept,2021</p>
              <h2>$27/Ticket</h2>
            </div>
            <div class="col-4">
              <div class="backer">
                <span>Book Now</span>
              </div>

            </div>
          </div>
          <div class="row">
            <div class="col-4">
              <img src="assets/images/pomacanthus-navarchus-blue-angel-sea-fish-in-aquarium-1-e1628655272345.jpg">
            </div>
            <div class="col-4">
              <h2> Water Splash</h2>
              <p>30 Oct,2021</p>
              <h2>$35/Ticket</h2>
            </div>
            <div class="col-4">
              <div class="backer">
                <span> Book Now</span>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="section event-e7">
  <section class="container">
    <div class="row">
      <div class="col-4">
        <h3>personal</h3>
        <p>$20/visit</p>
        <span>purchase Now</span>
        <div class="line"></div>
        <ul>
          <li><i class="bi bi-chevron-double-right"></i>Personal Members</li>
          <li><i class="bi bi-chevron-double-right"></i>Photos With Fishes</li>
          <li><i class="bi bi-chevron-double-right"></i>Free Wi-Fi</li>
          <li><i class="bi bi-chevron-double-right"></i>1x Lunch</li>
          <li><i class="bi bi-chevron-double-right"></i>Insurance Goods</li>
        </ul>
        <p>* Including tax & aquavist insurance.
        </p>
      </div>
      <div class="col-4">
        <h3> Family</h3>
        <p>$60/Visit</p>
        <span>purchase Now</span>
        <div class="line"></div>
        <ul>
          <li><i class="bi bi-chevron-double-right"></i>4 Family Members</li>
          <li><i class="bi bi-chevron-double-right"></i>Photos With Fishes</li>
          <li><i class="bi bi-chevron-double-right"></i>Free Wi-Fi</li>
          <li><i class="bi bi-chevron-double-right"></i>Access Luxury Aquarium</li>
          <li><i class="bi bi-chevron-double-right"></i>Insurance Goods</li>
        </ul>
       <p> * Including tax & aquavist insurance.</p>
      </div>
      <div class="col-4">
        <h2>pricing & Plan</h2>
        <div class="line"></div>
        <h1>Our Pricing</h1>
        <p>Lorem ipsum dolor sit amet consec tetuer adipiscing elit. Aenean com modo ligula eget dolor. Aenean massa Cumocis natoque pena tibus et magnis dis parturient montes nascetur ridiculus parturient montes.</p>
        <span>All Pricing</span>
      </div>
    </div>
  </section>
</section>
