<section class="section blog">
  <div class="container">
    <div class="block">
      <h1> blog </h1>
      <div class="line"></div>
      <a> home<i class="bi bi-chevron-double-right"></i></a><a> Blog</a>
    </div>
  </div>
</section>
<section class="section blog-e2">
  <div class="">
    <p> Our news</p>
    <div class="line"></div>
    <h1>News & Articles</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam dolore aliqua.</p>
  </div>
</section>
<section class="section blog-e3">
  <div class="container">
    <div class="row">
      <div class="col-4 ">
        <div class="content img1">
          <div>
            <span>saltwater</span>
          </div>
          <div>
            <h3>
              Different Aquariums For Different Ideas</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed...</p>
          </div>

        </div>
      </div>
      <div class="col-4 ">
        <div class="content img2">
          <div>
            <span>design</span>
          </div>
          <div>
            <h3>
              Freshwater Aquarium Setups & Care</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed...</p>
          </div>

        </div>
      </div>
      <div class="col-4 ">
        <div class="content img3">
          <div>
            <span> Fishes</span>
          </div>
          <div>
            <h3>
              Lifespan Of Freshwater Aquarium Fishes</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed...</p>
          </div>

        </div>
      </div>
    </div>
  </div>
</section>
<section class="section blog-e4">
  <div class="container">
    <div class="row">
      <div class="col-4 ">
        <div class="content img4">
          <div>
            <span>aquarium</span>
          </div>
          <div>
            <h3>
              Aquarium Aquascape Design Ideas For House</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed...</p>
          </div>

        </div>
      </div>
      <div class="col-4 ">
        <div class="content img5">
          <div>
            <span>Freshwater</span>
          </div>
          <div>
            <h3>
              Guide To Keeping Freshwater Sword Tails</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed...</p>
          </div>
        </div>
      </div>
      <div class="col-4 ">
        <div class="content img6">
          <div>
            <span> Maintenance</span>
          </div>
          <div>
            <h3>
              How To Acclimate Tropical Fish Tank</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed...</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


